<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

<script type="text/javascript">
google.script.run.withSuccessHandler(onSuccess).datamanrev();

function onSuccess(data){
  var tempdata = JSON.parse(data);
  
  // TODO:ここら辺選択とかで自動化しないとだめです
  //タイトル列の値を配列に格納
  var title = [tempdata[0][1],tempdata[0][2],tempdata[0][3],tempdata[0][4],tempdata[0][5]];
  
  //ターゲットの値を配列に格納
  var dataman = [tempdata[1][1],tempdata[1][2],tempdata[1][3],tempdata[1][4],tempdata[1][5]];
  var dataman1 = [tempdata[2][1],tempdata[2][2],tempdata[2][3],tempdata[2][4],tempdata[2][5]];
  
  var chartman = {
        type: 'radar',
        data: {
        　labels: title,　　　　　　　　　　　　　 //反映するラベルを指定
        　datasets: [
           {
            label: tempdata[1][0],                
            fillColor: "rgba(244,250,130,0.7)",  // チャート内の色
            strokeColor: "#111111",  // チャートを囲む線の色
            backgroundColor: "rgba(255,153,0,0.4)",
            borderColor: "rgba(255,153,0,1)",
            pointColor: "red",
            pointStrokeColor: "red",
            pointHighlightFill: "red",
            pointHighlightStroke: "red",
            data: dataman                    //反映するデータを指定
           },
           {
            label: tempdata[2][0],                
            fillColor: "rgba(244,250,130,0.7)",  // チャート内の色
            strokeColor: "#111111",  // チャートを囲む線の色
            backgroundColor: "rgba(153,255,51,0.4)",
            borderColor: "rgba(153,255,51,1)",
            pointColor: "red",
            pointStrokeColor: "red",
            pointHighlightFill: "red",
            pointHighlightStroke: "red",
            data: dataman1                    //反映するデータを指定
           }
         ]
       }
   };
   var ctx = document.getElementById("canvas").getContext("2d");
   var options = {
                pointLabelFontSize : 10, 　　　　// ラベルのフォントサイズ
                scaleShowLabels: true,  　　　　 // 目盛を表示（true/false）
                scaleSteps : 10,                 // 目盛の数
   };
   var radarChart = new Chart(ctx,chartman);
}
</script>
<div id="kinoko">
<h3>パラメータ</h3>

<canvas id="canvas" width="550px" height="350px">
</canvas>


</div>